<nav id="mobile-menu" class="mobile-menu-drawer" role="dialog" tabindex="-1">
  <div class="mobile-menu-drawer--inner">
    {%- if header_settings.menu -%}
      <ul class="mobile-menu not_mobile">
        {%- for link in header_settings.menu.links -%}
          {%- assign has_sub_menu = false -%}
          {%- if link.links.size > 0 -%}
            {%- assign has_sub_menu = true -%}
          {%- endif -%}
          <li>
            {%- if has_sub_menu -%}
              <details class="link-container">
                <summary class="parent-link">
                  {{ link.title -}}
                  <span>{%- render 'svg-icons' with 'thb-mobile-menu-forward' -%}</span>
                </summary>
                <ul class="sub-menu">
                  <li class="parent-link-back">
                    <button>
                      <span>{%- render 'svg-icons' with 'thb-mobile-menu-back' -%}</span> {{ link.title }}
                    </button>
                  </li>
                  {%- for l in link.links -%}
                    {%- liquid
                      assign has_sub_menu = false
                      if l.links.size > 0
                        assign has_sub_menu = true
                      endif
                    -%}
                    <li>
                      {%- if has_sub_menu -%}
                        <details class="link-container">
                          <summary>
                            {{ l.title -}}
                            <span>{%- render 'svg-icons' with 'thb-mobile-menu-forward' -%}</span>
                          </summary>
                          <ul class="sub-menu" tabindex="-1">
                            <li class="parent-link-back">
                              <button>
                                <span>{%- render 'svg-icons' with 'thb-mobile-menu-back' -%}</span> {{ l.title }}
                              </button>
                            </li>
                            {%- for sub_link in l.links -%}
                              {%- liquid
                                assign has_sub_menu = false
                                if sub_link.links.size > 0
                                  assign has_sub_menu = true
                                endif
                              -%}
                              <li>
                                <a
                                  href="{{ sub_link.url }}"
                                  class="text-left-override"
                                  title="{{ sub_link.title | escape }}"
                                  role="menuitem"
                                >
                                  {{- sub_link.title }}
                                  {% if has_sub_menu %}<span></span>{%- endif -%}
                                </a>
                              </li>
                            {%- endfor -%}
                          </ul>
                        </details>
                      {%- else -%}
                        <a href="{{ l.url }}" title="{{ l.title | escape }}">{{ l.title }}</a>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </details>
            {%- else -%}
              <a href="{{ link.url }}" title="{{ link.title | escape }}">{{ link.title }}</a>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
    {%- if header_settings.mobile_secondary_menu -%}
      <ul class="mobile-secondary-menu">
        {%- for link in header_settings.mobile_secondary_menu.links -%}
          <li class="{% if forloop.index == 1 %} active{% endif %} mobile_menu-image" 
            {% if forloop.index == 1 and section.settings.mobile_menu_image_1 %}
            style="background-image: url({{ section.settings.mobile_menu_image_1 | image_url: width: section.settings.mobile_menu_image_1.src.width }})"
            {% endif %}
            {% if forloop.index == 2 and section.settings.mobile_menu_image_2 %}
            style="background-image: url({{ section.settings.mobile_menu_image_2 | image_url: width: section.settings.mobile_menu_image_2.src.width }})"
            {% endif %}
            {% if forloop.index == 3 and section.settings.mobile_menu_image_3 %}
              style="background-image: url({{ section.settings.mobile_menu_image_3 | image_url: width: section.settings.mobile_menu_image_3.src.width }})"
              {% endif %}
            >
            <a class="mobile_menu-image_title" title="{{ link.title | escape }}">{{ link.title }}</a>
            {% if link.links %}
              <div class="sublinks_container-level_2" style="left:-{{- forloop.index0 | times: 2 -}}00%;">
                {% for sublink in link.links %}
                  <div class="sublink_level_2">
                    <a class="sublink_level_2-link" href="{{ sublink.url }}">
                      {{ sublink.title }}
                    </a>
                    {% for sublink_child in sublink.links %}
                      {% if sublink_child.links %}
                        <span class="arrow">{% render 'svg-icons' with 'collapsible-arrow' %}</span>
                        {% break %}
                      {% endif %}
                    {% endfor %}
                  </div>
                  {% if sublink.links %}
                    <div class="sublinks_container-level_3" style="max-height: 0;">
                      {% for sublink_child in sublink.links %}
                        <a href="{{ sublink_child.url }}" class="sublink_level_3">
                          {{ sublink_child.title }}
                        </a>
                      {% endfor %}
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            {% endif %}            
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
    {%- if header_settings.mobile_promo_image -%}
      <div class="mega-menu-promotion">
        {%- if header_settings.mobile_promo_link -%}
          <a href="{{ header_settings.mobile_promo_link }}" target="_blank">
        {%- endif -%}
        {%- render 'responsive-image', image: header_settings.mobile_promo_image, sizes: '670x0' -%}
        {%- if header_settings.mobile_promo_link -%}</a>{%- endif -%}
        <div class="mega-menu-promotion--cover">
          {%- if header_settings.mobile_promo_heading -%}
            <p class="heading-font">{{ header_settings.mobile_promo_heading }}</p>
          {%- endif -%}
          {%- if header_settings.mobile_promo_link_label -%}
            <a href="{{ header_settings.mobile_promo_link }}" target="_blank" class="text-button white">
              {{- header_settings.mobile_promo_link_label -}}
            </a>
          {%- endif -%}
        </div>
      </div>
    {%- endif -%}
    <div class="thb-mobile-menu-footer">
      {%- if shop.customer_accounts_enabled -%}
        {%- if customer -%}
          {%- assign profile_link = routes.account_url -%}
          {%- capture profile_text -%}
				    {{ 'sections.header.my_account' | t }}
				  {%- endcapture -%}
        {%- else -%}
          {%- assign profile_link = routes.account_login_url -%}
          {%- capture profile_text -%}
				    {{ 'sections.header.login' | t }}
				  {%- endcapture -%}
        {%- endif -%}
        <a class="thb-mobile-account-link" href="{{ profile_link | escape }}" title="{{ profile_text | escape }}">
          {%- render 'svg-icons' with 'myaccount' %}
          {{ profile_text -}}
        </a>
      {%- endif -%}
      <div class="no-js-hidden">
        {%- render 'localization',
          show_language_switcher: header_settings.show_language_switcher,
          show_currency_switcher: header_settings.show_currency_switcher
        -%}
      </div>
    </div>
  </div>
</nav>
<link rel="stylesheet" href="{{ 'mobile-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'mobile-menu.css' | asset_url | stylesheet_tag }}</noscript>

<script>
document.addEventListener('DOMContentLoaded', function() {
  var collapsibleTriggers = document.querySelectorAll('.sublink_level_2');

  collapsibleTriggers.forEach(function(trigger) {
    var submenu = trigger.nextElementSibling;
    var arrow = trigger.querySelector('.arrow');

    trigger.addEventListener('click', function() {
      submenu.style.maxHeight = submenu.style.maxHeight === '0px' ? '1000px' : '0px';

      if (arrow) {
        arrow.classList.toggle('active', submenu.style.maxHeight !== '0px');
      }
    });
  });

  function positionSublinksContainers() {
    setTimeout(function() {
      var mobileMenuImages = document.querySelectorAll('.mobile_menu-image');
      mobileMenuImages.forEach(function(menuImage) {
          var distanceFromLeft = menuImage.offsetLeft;
          
          var sublinksContainers = menuImage.querySelectorAll('.sublinks_container-level_2');
          sublinksContainers.forEach(function(sublinksContainer) {
              sublinksContainer.style.left = -distanceFromLeft + 'px';
          });
      });
    }, 300);
  }
  
  var mobileMenuImages = document.querySelectorAll('.mobile_menu-image');
  mobileMenuImages.forEach(function(menuImage) {
      menuImage.addEventListener('click', function() {
          mobileMenuImages.forEach(function(image) {
              image.classList.remove('active');
          });
          
          menuImage.classList.add('active');
          
          positionSublinksContainers();
      });
  });

  
});

</script>