<style>
     .modal {
    display: none;
    position: fixed;
    z-index: 10000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    width: 300px;
    max-width: 80%;
  }

  .modal-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  #popup-text {
    margin-bottom: 0rem;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .popup-content .badge_button img {
    width: 55px;
  }
</style>

<script>
document.addEventListener('DOMContentLoaded', function () {
  const body = document.body;
  const modal = document.getElementById('popup1');

  function openModal(index) {
    modal.style.display = 'block';
    body.style.overflow = 'hidden';
    updateModalContent(index);
  }

  function closeModal() {
    modal.style.display = 'none';
    body.style.overflow = '';
  }

  var closeBtn = document.querySelector('.close');
  if (closeBtn) {
    closeBtn.addEventListener('click', closeModal);
  }

  document.addEventListener('keydown', function (event) {
    if (event.key === 'Escape') {
      closeModal();
    }
  });

  function updateModalContent(index) {
    const modal = document.querySelector('.modal');
    const titles = modal.querySelectorAll('.badge_title');
    const texts = modal.querySelectorAll('.badge_content');
    const modalButtons = modal.querySelectorAll('.badge_button');

    titles.forEach((title) => {
      title.classList.add('hidden');
    });
    texts.forEach((text) => {
      text.classList.add('hidden');
    });

    modalButtons.forEach((button, btnIndex) => {
      if (btnIndex == index) {
        button.classList.add('active');
      } else {
        button.classList.remove('active');
      }

      button.addEventListener('click', () => {
        modalButtons.forEach((btn) => {
          btn.classList.remove('active');
        });
        button.classList.add('active');

        titles.forEach((title, titleIndex) => {
          if (titleIndex === btnIndex) {
            title.classList.remove('hidden');
          } else {
            title.classList.add('hidden');
          }
        });

        texts.forEach((text, textIndex) => {
          if (textIndex === btnIndex) {
            text.classList.remove('hidden');
          } else {
            text.classList.add('hidden');
          }
        });

        const correspondingTitle = titles[btnIndex];
        const correspondingText = texts[btnIndex];

        if (correspondingTitle && correspondingText) {
          correspondingTitle.classList.remove('hidden');
          correspondingText.classList.remove('hidden');
        }
      });
    });

    const initialTitle = titles[index];
    const initialText = texts[index];

    if (initialTitle && initialText) {
      initialTitle.classList.remove('hidden');
      initialText.classList.remove('hidden');
    }
  }

  const buttons = document.querySelectorAll('[onclick="openModal()"]');
  buttons.forEach((button, index) => {
    button.dataset.index = index;
    button.addEventListener('click', function () {
      openModal(index);
    });
  });
});

</script>



{%- case product-badges -%}
  {% when '360 STRETCH' %}
    <a
      href="#popup1"
      onclick="openModal()"
    >
      <img
        id="popup-trigger"
        src="{{ '360_STRETCH.png' | file_img_url: '148x148' }}"
        height="48px"
        width="55px"
        style="padding-left:0px"
      >
    </a>
  {% when 'WATER RESISTANT' %}
    <a
      href="#popup1"
      onclick="openModal()"
    >
      <img
        id="popup-trigger"
        src="{{ 'WATER_RESISTANT.png' | file_img_url: '148x148' }}"
        height="48px"
        width="55px"
        style="padding-left:0px"
      >
    </a>
  {% when 'WATER-REPELLENT' %}
    <a
      href="#popup1"
      onclick="openModal()"
    >
      <img
        id="popup-trigger"
        src="{{ 'WATER_REPELLENT.png' | file_img_url: '148x148' }}"
        height="48px"
        width="55px"
        style="padding-left:0px"
      >
    </a>
  {% when 'LIGHT WEIGHT' %}
    <a
      href="#popup1"
      onclick="openModal()"
    >
      <img
        id="popup-trigger"
        src="{{ 'LIGHT_WEIGHT.png' | file_img_url: '148x148' }}"
        height="48px"
        width="55px"
        style="padding-left:0px"
      >
    </a>
  {% when 'ZIPPER POCKETS' %}
    <a
      href="#popup1"
      onclick="openModal()"
    >
      <img
        id="popup-trigger"
        src="{{ 'ZIPPER_POCKETS.png' | file_img_url: '148x148' }}"
        height="48px"
        width="55px"
        style="padding-left:0px"
      >
    </a>
  {% when 'AIR VENTS' %}
    <a
      href="#popup1"
      onclick="openModal()"
    >
      <img
        id="popup-trigger"
        src="{{ 'AIR_VENTS.png' | file_img_url: '148x148' }}"
        height="48px"
        width="55px"
        style="padding-left:0px"
      >
    </a>
  {% when 'ANTI-WRINKLE' %}
    <a
      href="#popup1"
      onclick="openModal()"
    >
      <img
        id="popup-trigger"
        src="{{ 'ANTI_WRINKLE.png' | file_img_url: '148x148' }}"
        height="48px"
        width="55px"
        style="padding-left:0px"
      >
    </a>
  {% when 'BREATHABLE' %}
    <a
      href="#popup1"
      onclick="openModal()"
    >
      <img
        id="popup-trigger"
        src="{{ 'BREATHABLE.png' | file_img_url: '148x148' }}"
        height="48px"
        width="55px"
        style="padding-left:0px"
      >
    </a>
  {% when 'CHEST POCKET' %}
    <a
      href="#popup1"
      onclick="openModal()"
    >
      <img
        id="popup-trigger"
        src="{{ 'CHEST_POCKET.png' | file_img_url: '148x148' }}"
        height="48px"
        width="55px"
        style="padding-left:0px"
      >
    </a>
  {% when 'DOUBLE LAYER' %}
    <a
      href="#popup1"
      onclick="openModal()"
    >
      <img
        id="popup-trigger"
        src="{{ 'DOUBLE_LAYER.png' | file_img_url: '148x148' }}"
        height="48px"
        width="55px"
        style="padding-left:0px"
      >
    </a>
  {% when 'DRAWSTRING' %}
    <a
      href="#popup1"
      onclick="openModal()"
    >
      <img
        id="popup-trigger"
        src="{{ 'DRAWSTRING.png' | file_img_url: '148x148' }}"
        height="48px"
        width="55px"
        style="padding-left:0px"
      >
    </a>
  {% when 'DURABLE' %}
    <a
      href="#popup1"
      onclick="openModal()"
    >
      <img
        id="popup-trigger"
        src="{{ 'DURABLE.png' | file_img_url: '148x148' }}"
        height="48px"
        width="55px"
        style="padding-left:0px"
      >
    </a>
  {% when 'ELASTIC CORD' %}
    <a
      href="#popup1"
      onclick="openModal()"
    >
      <img
        id="popup-trigger"
        src="{{ 'ELASTIC_CORD.png' | file_img_url: '148x148' }}"
        height="48px"
        width="55px"
        style="padding-left:0px"
      >
    </a>
  {% when 'ELASTIC WAISTBAND' %}
    <a
      href="#popup1"
      onclick="openModal()"
    >
      <img
        id="popup-trigger"
        src="{{ 'ELASTIC_WAISTBAND.png' | file_img_url: '148x148' }}"
        height="48px"
        width="55px"
        style="padding-left:0px"
      >
    </a>
  {% when 'FLATLOCK SEAM' %}
    <a
      href="#popup1"
      onclick="openModal()"
    >
      <img
        id="popup-trigger"
        src="{{ 'FLATLOCK_SEAM.png' | file_img_url: '148x148' }}"
        height="48px"
        width="55px"
        style="padding-left:0px"
      >
    </a>
  {% when 'EMBROIDERED LOGO' %}
    <a
      href="#popup1"
      onclick="openModal()"
    >
      <img
        id="popup-trigger"
        src="{{ 'EMBROIDERED_LOGO.png' | file_img_url: '148x148' }}"
        height="48px"
        width="55px"
        style="padding-left:0px"
      >
    </a>
  {% when 'HALF-ZIP' %}
    <a
      href="#popup1"
      onclick="openModal()"
    >
      <img
        id="popup-trigger"
        src="{{ 'HALF_ZIP.png' | file_img_url: '148x148' }}"
        height="48px"
        width="55px"
        style="padding-left:0px"
      >
    </a>
  {% when 'HIGH WAIST' %}
    <a
      href="#popup1"
      onclick="openModal()"
    >
      <img
        id="popup-trigger"
        src="{{ 'HIGH_WAIST.png' | file_img_url: '148x148' }}"
        height="48px"
        width="55px"
        style="padding-left:0px"
      >
    </a>
  {% when 'LASER MESH' %}
    <a
      href="#popup1"
      onclick="openModal()"
    >
      <img
        id="popup-trigger"
        src="{{ 'LASER_MESH.png' | file_img_url: '148x148' }}"
        height="48px"
        width="55px"
        style="padding-left:0px"
      >
    </a>
  {% when 'MESH INSERT' %}
    <a
      href="#popup1"
      onclick="openModal()"
    >
      <img
        id="popup-trigger"
        src="{{ 'MESH_INSERT.png' | file_img_url: '148x148' }}"
        height="48px"
        width="55px"
        style="padding-left:0px"
      >
    </a>
  {% when 'MODULAR PUSH-UP' %}
    <a
      href="#popup1"
      onclick="openModal()"
    >
      <img
        id="popup-trigger"
        src="{{ 'MODULAR_PUSH_UP.png' | file_img_url: '148x148' }}"
        height="48px"
        width="55px"
        style="padding-left:0px"
      >
    </a>
  {% when 'MOISTURE WICKING' %}
    <a
      href="#popup1"
      onclick="openModal()"
    >
      <img
        id="popup-trigger"
        src="{{ 'MOISTURE_WICKING.png' | file_img_url: '148x148' }}"
        height="48px"
        width="55px"
        style="padding-left:0px"
      >
    </a>
  {% when 'OPAQUE FABRIC' %}
    <a
      href="#popup1"
      onclick="openModal()"
    >
      <img
        id="popup-trigger"
        src="{{ 'OPAQUE_FABRIC.png' | file_img_url: '148x148' }}"
        height="48px"
        width="55px"
        style="padding-left:0px"
      >
    </a>
  {% when 'PERFECT FIT' %}
    <a
      href="#popup1"
      onclick="openModal()"
    >
      <img
        id="popup-trigger"
        src="{{ 'PERFECT_FIT.png' | file_img_url: '148x148' }}"
        height="48px"
        width="55px"
        style="padding-left:0px"
      >
    </a>
  {% when 'PHONE POCKET' %}
    <a
      href="#popup1"
      onclick="openModal()"
    >
      <img
        id="popup-trigger"
        src="{{ 'PHONE_POCKET.png' | file_img_url: '148x148' }}"
        height="48px"
        width="55px"
        style="padding-left:0px"
      >
    </a>
  {% when 'QUICK DRY' %}
    <a
      href="#popup1"
      onclick="openModal()"
    >
      <img
        id="popup-trigger"
        src="{{ 'QUICK_DRY.png' | file_img_url: '148x148' }}"
        height="48px"
        width="55px"
        style="padding-left:0px"
      >
    </a>
  {% when 'REFLECTIVE PRINTS' %}
    <a
      href="#popup1"
      onclick="openModal()"
    >
      <img
        id="popup-trigger"
        src="{{ 'REFLECTIVE_PRINTS.png' | file_img_url: '148x148' }}"
        height="48px"
        width="55px"
        style="padding-left:0px"
      >
    </a>
  {% when 'SEAMLESS DESIGN' %}
    <a
      href="#popup1"
      onclick="openModal()"
    >
      <img
        id="popup-trigger"
        src="{{ 'SEAMLESS_DESIGN.png' | file_img_url: '148x148' }}"
        height="48px"
        width="55px"
        style="padding-left:0px"
      >
    </a>
  {% when 'SIDE POCKETS' %}
    <a
      href="#popup1"
      onclick="openModal()"
    >
      <img
        id="popup-trigger"
        src="{{ 'SIDE_POCKETS.png' | file_img_url: '148x148' }}"
        height="48px"
        width="55px"
        style="padding-left:0px"
      >
    </a>
  {% when 'THUMBHOLES' %}
    <a
      href="#popup1"
      onclick="openModal()"
    >
      <img
        id="popup-trigger"
        src="{{ 'THUMBHOLES.png' | file_img_url: '148x148' }}"
        height="48px"
        width="55px"
        style="padding-left:0px"
      >
    </a>
  {% when 'SOFT FLEECE' %}
    <a
      href="#popup1"
      onclick="openModal()"
    >
      <img
        id="popup-trigger"
        src="{{ 'SOFT_FLEECE.png' | file_img_url: '148x148' }}"
        height="48px"
        width="55px"
        style="padding-left:0px"
      >
    </a>
  {% when 'EASY CARE' %}
    <a
      href="#popup1"
      onclick="openModal()"
    >
      <img
        id="popup-trigger"
        src="{{ 'EASY_CARE.png' | file_img_url: '148x148' }}"
        height="48px"
        width="55px"
        style="padding-left:0px"
      >
    </a>
  {% when 'FLEXIBILITY' %}
    <a
      href="#popup1"
      onclick="openModal()"
    >
      <img
        id="popup-trigger"
        src="{{ 'FLEXIBILITY.png' | file_img_url: '148x148' }}"
        height="48px"
        width="55px"
        style="padding-left:0px"
      >
    </a>
  {% when 'REFLECTIVE ZIPPER' %}
    <a
      href="#popup1"
      onclick="openModal()"
    >
      <img
        id="popup-trigger"
        src="{{ 'REFLECTIVE_ZIPPER.png' | file_img_url: '148x148' }}"
        height="48px"
        width="55px"
        style="padding-left:0px"
      >
    </a>
  {% when 'HALF ZIP' %}
    <a
      href="#popup1"
      onclick="openModal()"
    >
      <img
        id="popup-trigger"
        src="{{ 'HALF_ZIP.png' | file_img_url: '148x148' }}"
        height="48px"
        width="55px"
        style="padding-left:0px"
      >
    </a>
  {% when 'SHAPING EFFECT' %}
    <a
      href="#popup1"
      onclick="openModal()"
    >
      <img
        id="popup-trigger"
        src="{{ 'SHAPING_EFFECT.png' | file_img_url: '148x148' }}"
        height="48px"
        width="55px"
        style="padding-left:0px"
      >
    </a>
{%- endcase -%}

<div id="popup1" class="modal badges">
  <div class="modal-content">
    <div id="popup-text" class="popup-content">
      <span class="close-button close">
      </span>
      <div class="active_badge-title">
        {% if product.metafields.attributes.BULLET_POINT_1 %}
            {% assign customFieldKey = product.metafields.attributes.BULLET_POINT_1.value %}
            {% assign sanitizedKey = customFieldKey | replace: ' ', '_' | replace: '-', '_' %}
            <div class="hidden badge_title">{{ 'products.product.badge_titles.' | append: sanitizedKey | t }}</div>
        {% endif %}
        {% if product.metafields.custom.bulletpoint_2 %}
          {% assign customFieldKey = product.metafields.custom.bulletpoint_2.value %}
          {% assign sanitizedKey = customFieldKey | replace: ' ', '_' | replace: '-', '_' %}
          <div class="hidden badge_title">{{ 'products.product.badge_titles.' | append: sanitizedKey | t }}</div>
      {% endif %}
        {% if product.metafields.custom.bulletpoint_3 %}
          {% assign customFieldKey = product.metafields.custom.bulletpoint_3.value %}
          {% assign sanitizedKey = customFieldKey | replace: ' ', '_' | replace: '-', '_' %}
          <div class="hidden badge_title">{{ 'products.product.badge_titles.' | append: sanitizedKey | t }}</div>
        {% endif %}
        {% if product.metafields.custom.bulletpoint_4 %}
          {% assign customFieldKey = product.metafields.custom.bulletpoint_4.value %}
          {% assign sanitizedKey = customFieldKey | replace: ' ', '_' | replace: '-', '_' %}
          <div class="hidden badge_title">{{ 'products.product.badge_titles.' | append: sanitizedKey | t }}</div>
        {% endif %}
        {% if product.metafields.custom.bulletpoint_5 %}
          {% assign customFieldKey = product.metafields.custom.bulletpoint_5.value %}
          {% assign sanitizedKey = customFieldKey | replace: ' ', '_' | replace: '-', '_' %}
          <div class="hidden badge_title">{{ 'products.product.badge_titles.' | append: sanitizedKey | t }}</div>
        {% endif %}
        {% if product.metafields.custom.bulletpoint_6 %}
          {% assign customFieldKey = product.metafields.custom.bulletpoint_6.value %}
          {% assign sanitizedKey = customFieldKey | replace: ' ', '_' | replace: '-', '_' %}
          <div class="hidden badge_title">{{ 'products.product.badge_titles.' | append: sanitizedKey | t }}</div>
        {% endif %}
        {% if product.metafields.custom.bulletpoint_7 %}
          {% assign customFieldKey = product.metafields.custom.bulletpoint_7.value %}
          {% assign sanitizedKey = customFieldKey | replace: ' ', '_' | replace: '-', '_' %}
          <div class="hidden badge_title">{{ 'products.product.badge_titles.' | append: sanitizedKey | t }}</div>
        {% endif %}
        {% if product.metafields.custom.bulletpoint_8 %}
          {% assign customFieldKey = product.metafields.custom.bulletpoint_8.value %}
          {% assign sanitizedKey = customFieldKey | replace: ' ', '_' | replace: '-', '_' %}
          <div class="hidden badge_title">{{ 'products.product.badge_titles.' | append: sanitizedKey | t }}</div>
        {% endif %}
        {% if product.metafields.custom.bulletpoint_9 %}
          {% assign customFieldKey = product.metafields.custom.bulletpoint_9.value %}
          {% assign sanitizedKey = customFieldKey | replace: ' ', '_' | replace: '-', '_' %}
          <div class="hidden badge_title">{{ 'products.product.badge_titles.' | append: sanitizedKey | t }}</div>
        {% endif %}
        {% if product.metafields.custom.bulletpoint_10 %}
          {% assign customFieldKey = product.metafields.custom.bulletpoint_10.value %}
          {% assign sanitizedKey = customFieldKey | replace: ' ', '_' | replace: '-', '_' %}
          <div class="hidden badge_title">{{ 'products.product.badge_titles.' | append: sanitizedKey | t }}</div>
        {% endif %}
      </div>
      <div class="active_badge-text_wrapper">
        {% if product.metafields.attributes.BULLET_POINT_1 %}
          {% assign customFieldKey = product.metafields.attributes.BULLET_POINT_1.value %}
          {% assign sanitizedKey = customFieldKey | replace: ' ', '_' | replace: '-', '_' %}
          <div class="badge_content hidden">{{ 'products.product.badges.' | append: sanitizedKey | t }}</div>
        {% endif %}
        {% if product.metafields.custom.bulletpoint_2 %}
          {% assign customFieldKey = product.metafields.custom.bulletpoint_2.value %}
          {% assign sanitizedKey = customFieldKey | replace: ' ', '_' | replace: '-', '_' %}
          <div class="badge_content hidden">{{ 'products.product.badges.' | append: sanitizedKey | t }}</div>
        {% endif %}
        {% if product.metafields.custom.bulletpoint_3 %}
          {% assign customFieldKey = product.metafields.custom.bulletpoint_3.value %}
          {% assign sanitizedKey = customFieldKey | replace: ' ', '_' | replace: '-', '_' %}
          <div class="badge_content hidden">{{ 'products.product.badges.' | append: sanitizedKey | t }}</div>
        {% endif %}
        {% if product.metafields.custom.bulletpoint_4 %}
          {% assign customFieldKey = product.metafields.custom.bulletpoint_4.value %}
          {% assign sanitizedKey = customFieldKey | replace: ' ', '_' | replace: '-', '_' %}
          <div class="badge_content hidden">{{ 'products.product.badges.' | append: sanitizedKey | t }}</div>
        {% endif %}
        {% if product.metafields.custom.bulletpoint_5 %}
          {% assign customFieldKey = product.metafields.custom.bulletpoint_5.value %}
          {% assign sanitizedKey = customFieldKey | replace: ' ', '_' | replace: '-', '_' %}
          <div class="badge_content hidden">{{ 'products.product.badges.' | append: sanitizedKey | t }}</div>
        {% endif %}
        {% if product.metafields.custom.bulletpoint_6 %}
          {% assign customFieldKey = product.metafields.custom.bulletpoint_6.value %}
          {% assign sanitizedKey = customFieldKey | replace: ' ', '_' | replace: '-', '_' %}
          <div class="badge_content hidden">{{ 'products.product.badges.' | append: sanitizedKey | t }}</div>
        {% endif %}
        {% if product.metafields.custom.bulletpoint_7 %}
          {% assign customFieldKey = product.metafields.custom.bulletpoint_7.value %}
          {% assign sanitizedKey = customFieldKey | replace: ' ', '_' | replace: '-', '_' %}
          <div class="badge_content hidden">{{ 'products.product.badges.' | append: sanitizedKey | t }}</div>
        {% endif %}
        {% if product.metafields.custom.bulletpoint_8 %}
          {% assign customFieldKey = product.metafields.custom.bulletpoint_8.value %}
          {% assign sanitizedKey = customFieldKey | replace: ' ', '_' | replace: '-', '_' %}
          <div class="badge_content hidden">{{ 'products.product.badges.' | append: sanitizedKey | t }}</div>
        {% endif %}
        {% if product.metafields.custom.bulletpoint_9 %}
          {% assign customFieldKey = product.metafields.custom.bulletpoint_9.value %}
          {% assign sanitizedKey = customFieldKey | replace: ' ', '_' | replace: '-', '_' %}
          <div class="badge_content hidden">{{ 'products.product.badges.' | append: sanitizedKey | t }}</div>
        {% endif %}
        {% if product.metafields.custom.bulletpoint_10 %}
          {% assign customFieldKey = product.metafields.custom.bulletpoint_10.value %}
          {% assign sanitizedKey = customFieldKey | replace: ' ', '_' | replace: '-', '_' %}
          <div class="badge_content hidden">{{ 'products.product.badges.' | append: sanitizedKey | t }}</div>
        {% endif %}
      </div>
      <div class="badge-buttons">
        {% if product.metafields.attributes.BULLET_POINT_1 %}
          <div class="badge_button" data-attribute="1">
          {%  assign image_name = product.metafields.attributes.BULLET_POINT_1.value | append: '.png' | replace: ' ', '_' | replace: '-', '_' %}
            <img id="popup-trigger"
            src="{{ image_name | file_img_url: '148x148' }}"
            height="48px"
            width="55px"
            style="padding-left:0px">
          </div>
        {% endif %}
        {% if product.metafields.custom.bulletpoint_2 %}
          <div class="badge_button" data-attribute="2">
            {%  assign image_name = product.metafields.custom.bulletpoint_2.value | append: '.png' | replace: ' ', '_' | replace: '-', '_' %}
              <img id="popup-trigger"
              src="{{ image_name | file_img_url: '148x148' }}"
              height="48px"
              width="55px"
              style="padding-left:0px">
          </div>
        {% endif %}
        {% if product.metafields.custom.bulletpoint_3 %}
          <div class="badge_button" data-attribute="3">
            {%  assign image_name = product.metafields.custom.bulletpoint_3.value | append: '.png' | replace: ' ', '_' | replace: '-', '_' %}
              <img id="popup-trigger"
              src="{{ image_name | file_img_url: '148x148' }}"
              height="48px"
              width="55px"
              style="padding-left:0px">
          </div>
        {% endif %}
        {% if product.metafields.custom.bulletpoint_4 %}
          <div class="badge_button" data-attribute="4">
            {%  assign image_name = product.metafields.custom.bulletpoint_4.value | append: '.png' | replace: ' ', '_' | replace: '-', '_' %}
            <img id="popup-trigger"
            src="{{ image_name | file_img_url: '148x148' }}"
            height="48px"
            width="55px"
            style="padding-left:0px">
          </div>
        {% endif %}
        {% if product.metafields.custom.bulletpoint_5 %}
          <div class="badge_button" data-attribute="5">
            {%  assign image_name = product.metafields.custom.bulletpoint_5.value | append: '.png' | replace: ' ', '_' | replace: '-', '_' %}
            <img id="popup-trigger"
            src="{{ image_name | file_img_url: '148x148' }}"
            height="48px"
            width="55px"
            style="padding-left:0px">
          </div>
        {% endif %}
        {% if product.metafields.custom.bulletpoint_6 %}
          <div class="badge_button" data-attribute="6">
            {%  assign image_name = product.metafields.custom.bulletpoint_6.value | append: '.png' | replace: ' ', '_' | replace: '-', '_' %}
            <img id="popup-trigger"
            src="{{ image_name | file_img_url: '148x148' }}"
            height="48px"
            width="55px"
            style="padding-left:0px">
          </div>
        {% endif %}
        {% if product.metafields.custom.bulletpoint_7 %}
          <div class="badge_button" data-attribute="7">
            {%  assign image_name = product.metafields.custom.bulletpoint_7.value | append: '.png' | replace: ' ', '_' | replace: '-', '_' %}
            <img id="popup-trigger"
            src="{{ image_name | file_img_url: '148x148' }}"
            height="48px"
            width="55px"
            style="padding-left:0px">
          </div>
        {% endif %}
        {% if product.metafields.custom.bulletpoint_8 %}
          <div class="badge_button" data-attribute="8">
            {%  assign image_name = product.metafields.custom.bulletpoint_8.value | append: '.png' | replace: ' ', '_' | replace: '-', '_' %}
            <img id="popup-trigger"
            src="{{ image_name | file_img_url: '148x148' }}"
            height="48px"
            width="55px"
            style="padding-left:0px">
          </div>
        {% endif %}
        {% if product.metafields.custom.bulletpoint_9 %}
          <div class="badge_button" data-attribute="9">
            {%  assign image_name = product.metafields.custom.bulletpoint_9.value | append: '.png' | replace: ' ', '_' | replace: '-', '_' %}
            <img id="popup-trigger"
            src="{{ image_name | file_img_url: '148x148' }}"
            height="48px"
            width="55px"
            style="padding-left:0px">
          </div>
        {% endif %}
        {% if product.metafields.custom.bulletpoint_10 %}
          <div class="badge_button" data-attribute="10">
            {%  assign image_name = product.metafields.custom.bulletpoint_10.value | append: '.png' | replace: ' ', '_' | replace: '-', '_' %}
            <img id="popup-trigger"
            src="{{ image_name | file_img_url: '148x148' }}"
            height="48px"
            width="55px"
            style="padding-left:0px">
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
