{{- 'image-text-landing-page.css' | asset_url | stylesheet_tag -}}
<div class="image_text_landing-wrapper">
{% if section.settings.image %}
  <div class="image_text_landing-image">
    {%- liquid
       assign image = section.settings.image
        assign master_width = image.src.width | append: 'x' | append: image.src.height
        assign class = nil
     -%}
    {%- render 'responsive-image', image: image, sizes: master_width, class: class -%}
  </div>
{% endif %}
  <div class="image_text_landing-content_wrapper_outter">
    <div class="image_text_landing-content_wrapper_inner">
      <div class="image_text_landing-content content_position-{{ section.settings.content_position }}">
        {% if section.settings.header %}
        <div class="image_text_landing-header">
          {{ section.settings.header }}
        </div>
        {% endif %}
        {% if section.settings.subheader %}
        <div class="image_text_landing-subheader">
          {{ section.settings.subheader }}
        </div>
        {% endif %}
        {% if section.settings.button_text %}
        <a href="{{ section.settings.button_link }}" class="image_text_landing-button">
          {{ section.settings.button_text }}
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Image and text l/r",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "image_position",
        "options": [
          {
            "value": "left",
            "label": "Left desktop, top mobile"
          },
          {
            "value": "right",
            "label": "Right desktop, bottom mobile"
          }
        ],
        "default": "left",
        "label": "Image position"
      },
      {
        "type": "text",
        "id": "header",
        "label": "Header"
      },
      {
        "type": "richtext",
        "id": "subheader",
        "label": "Subheader"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button text"
      },
      {
        "id": "button_link",
        "type": "url",
        "label": "Button link"
      },
      {
        "type": "select",
        "id": "content_position",
        "options": [
          {
            "value": "top_left",
            "label": "Top left"
          },
          {
            "value": "top_right",
            "label": "Top right"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "bottom_right",
            "label": "Bottom right"
          },
          {
            "value": "bottom_left",
            "label": "Bottom left"
          }
        ],
        "default": "center",
        "label": "Content position"
      }
    ],
    "presets": [
      {
        "name": "Image and text l/r"
      }
    ]
  }
{% endschema %}