<div class="row">
  <div class="small-12 columns">
    <h1>{{ 'sections.faq.products.title' | t }}</h1>

    <div class="grid-2">
      <a href="products-size-faq" class="item-link">
        <h3>{{ 'sections.faq.products.size.question' | t }}</h3>
        <p class="elipsis-s mb-none">{{ 'sections.faq.products.size.answer' | t }}</p>
      </a>

      <a href="products-washing-faq" class="item-link">
        <h3>{{ 'sections.faq.products.washing.question' | t }}</h3>
        <p class="elipsis-s mb-none">{{ 'sections.faq.products.washing.answer' | t }}</p>
      </a>

      <a href="products-restacked-items-faq" class="item-link">
        <h3>{{ 'sections.faq.products.restacked_items.question' | t }}</h3>
        <p class="elipsis-s mb-none">{{ 'sections.faq.products.restacked_items.answer' | t }}</p>
      </a>

      <a href="products-alternatives-faq" class="item-link">
        <h3>{{ 'sections.faq.products.alternatives.question' | t }}</h3>
        <p class="elipsis-s mb-none">{{ 'sections.faq.products.alternatives.answer' | t }}</p>
      </a>
    </div>
  </div>
</div>
