<div class="row">
  <div class="small-12 columns">
    <h1>{{ 'sections.faq.inquiries.title' | t }}</h1>

    <div class="grid-2">
      <a href="international-inquiries-shipping-faq" class="item-link">
        <h3>{{ 'sections.faq.inquiries.international_ship.question' | t }}</h3>
        <p class="elipsis-s mb-none">{{ 'sections.faq.inquiries.international_ship.answer' | t }}</p>
      </a>

      <a href="international-inquiries-tax-refund-faq" class="item-link">
        <h3>{{ 'sections.faq.inquiries.tax_refund.question' | t }}</h3>
        <p class="elipsis-s mb-none">{{ 'sections.faq.inquiries.tax_refund.answer' | t }}</p>
      </a>

      <a href="international-inquiries-checkout-tax-faq" class="item-link">
        <h3>{{ 'sections.faq.inquiries.checkout_tax.question' | t }}</h3>
        <p class="elipsis-s mb-none">{{ 'sections.faq.inquiries.checkout_tax.answer' | t }}</p>
      </a>
    </div>
  </div>
</div>
