<div class="row">
  <div class="small-12 columns">
    <h1>{{ 'sections.faq.payment.title' | t }}</h1>

    <div class="grid-2">
      <a href="payment-secure-faq" class="item-link">
        <h3>{{ 'sections.faq.payment.secure.question' | t }}</h3>
        <p class="elipsis-s mb-none">{{ 'sections.faq.payment.secure.answer' | t }}</p>
      </a>

      <a href="payment-accept-faq" class="item-link">
        <h3>{{ 'sections.faq.payment.accept.question' | t }}</h3>
        <p class="elipsis-s mb-none">{{ 'sections.faq.payment.accept.answer' | t }}</p>
      </a>

      <a href="payment-invoice-faq" class="item-link">
        <h3>{{ 'sections.faq.payment.invoice.question' | t }}</h3>
        <p class="elipsis-s mb-none">{{ 'sections.faq.payment.invoice.answer_html' | t: link_placeholder: 'support@morotai.com' }}</p>
      </a>
    </div>
  </div>
</div>
