<div class="row">
  <div class="small-12 columns">
    <h1>{{ 'sections.faq.sustainability.title' | t }}</h1>

    <div class="grid-2">
      <a href="sustainability-warehouse-faq" class="item-link">
        <h3>{{ 'sections.faq.sustainability.warehouse.question' | t }}</h3>
        <p class="elipsis-s mb-none">{{ 'sections.faq.sustainability.warehouse.answer' | t }}</p>
      </a>

      <a href="sustainability-products-faq" class="item-link">
        <h3>{{ 'sections.faq.sustainability.products.question' | t }}</h3>
        <p class="elipsis-s mb-none">{{ 'sections.faq.sustainability.products.answer' | t }}</p>
      </a>

      <a href="sustainability-manufacturing-faq" class="item-link">
        <h3>{{ 'sections.faq.sustainability.manufacturing.question' | t }}</h3>
        <p class="elipsis-s mb-none">{{ 'sections.faq.sustainability.manufacturing.answer' | t }}</p>
      </a>

      <a href="sustainability-manufacturing-de-faq" class="item-link">
        <h3>{{ 'sections.faq.sustainability.manufacturing_in_germany.question' | t }}</h3>
        <p class="elipsis-s mb-none">{{ 'sections.faq.sustainability.manufacturing_in_germany.answer' | t }}</p>
      </a>

      <a href="sustainability-go-green-faq" class="item-link">
        <h3>{{ 'sections.faq.sustainability.go_green.question' | t }}</h3>
        <p class="elipsis-s mb-none">{{ 'sections.faq.sustainability.go_green.answer' | t }}</p>
      </a>
    </div>
  </div>
</div>
