<div class="row">
  <div class="small-12 columns">
    <h1>{{ 'sections.faq.exchange_return.title' | t }}</h1>

    <div class="grid-2">
      <a href="exchange-return-policy-faq" class="item-link">
        <h3>{{ 'sections.faq.exchange_return.policy.question' | t }}</h3>
        <p class="elipsis-s mb-none">{{ 'sections.faq.exchange_return.policy.answer' | t }}</p>
      </a>

      <a href="exchange-return-or-exchange-faq" class="item-link">
        <h3>{{ 'sections.faq.exchange_return.how_to.question' | t }}</h3>
        <p class="elipsis-s mb-none">{{ 'sections.faq.exchange_return.how_to.answer' | t }}</p>
      </a>

      <a href="exchange-return-processed-faq" class="item-link">
        <h3>{{ 'sections.faq.exchange_return.processed.question' | t }}</h3>
        <p class="elipsis-s mb-none">{{ 'sections.faq.exchange_return.processed.answer' | t }}</p>
      </a>

      <a href="exchange-return-wrong-item-faq" class="item-link">
        <h3>{{ 'sections.faq.exchange_return.wrong_item.question' | t }}</h3>
        <p class="elipsis-s mb-none">{{ 'sections.faq.exchange_return.wrong_item.answer' | t }}</p>
      </a>

      <a href="exchange-return-shipping-faq" class="item-link">
        <h3>{{ 'sections.faq.exchange_return.pay_shipping.question' | t }}</h3>
        <p class="elipsis-s mb-none">{{ 'sections.faq.exchange_return.pay_shipping.answer' | t }}</p>
      </a>

      <a href="exchange-return-store-credit-faq" class="item-link">
        <h3>{{ 'sections.faq.exchange_return.store_credit.question' | t }}</h3>
        <p class="elipsis-s mb-none">{{ 'sections.faq.exchange_return.store_credit.answer' | t }}</p>
      </a>

      <a href="exchange-return-refund-faq" class="item-link">
        <h3>{{ 'sections.faq.exchange_return.refund.question' | t }}</h3>
        <p class="elipsis-s mb-none">{{ 'sections.faq.exchange_return.refund.answer' | t }}</p>
      </a>
    </div>
  </div>
</div>
