<div class="row">
  <div class="small-12 columns">
    <h1>{{ 'sections.faq.tracking_delivery.title' | t }}</h1>

    <div class="grid-2">
      <a href="order-arrival-faq" class="item-link">
        <h3>{{ 'sections.faq.tracking_delivery.order_arrival.question' | t }}</h3>
        <p class="elipsis-s mb-none">{{ 'sections.faq.tracking_delivery.order_arrival.answer' | t }}</p>
      </a>

      <a href="courier-providers-faq" class="item-link">
        <h3>{{ 'sections.faq.tracking_delivery.courier_providers.question' | t }}</h3>
        <p class="elipsis-s mb-none">{{ 'sections.faq.tracking_delivery.courier_providers.answer' | t }}</p>
      </a>

      <a href="multiple-orders-faq" class="item-link">
        <h3>{{ 'sections.faq.tracking_delivery.multiple_orders.question' | t }}</h3>
        <p class="elipsis-s mb-none">{{ 'sections.faq.tracking_delivery.multiple_orders.answer' | t }}</p>
      </a>

      <a href="po-box-faq" class="item-link">
        <h3>{{ 'sections.faq.tracking_delivery.po_box.question' | t }}</h3>
        <p class="elipsis-s mb-none">{{ 'sections.faq.tracking_delivery.po_box.answer' | t }}</p>
      </a>

      <a href="gear-quality-faq" class="item-link">
        <h3>{{ 'sections.faq.tracking_delivery.gear_quality.question' | t }}</h3>
        <p class="elipsis-s mb-none">{{ 'sections.faq.tracking_delivery.gear_quality.answer' | t }}</p>
      </a>

      <a href="order-returned-faq" class="item-link">
        <h3>{{ 'sections.faq.tracking_delivery.order_returned.question' | t }}</h3>
        <p class="elipsis-s mb-none">{{ 'sections.faq.tracking_delivery.order_returned.answer' | t }}</p>
      </a>

      <a href="lost-package-faq" class="item-link">
        <h3>{{ 'sections.faq.tracking_delivery.lost_package.question' | t }}</h3>
        <p class="elipsis-s mb-none">{{ 'sections.faq.tracking_delivery.lost_package.answer' | t }}</p>
      </a>
    </div>
  </div>
</div>
