<div class="row">
  <div class="small-12 columns">
    <h1>{{ 'sections.faq.inquiries.title' | t }}</h1>

    <h3>{{ 'sections.faq.inquiries.international_ship.question' | t }}</h3>
    <p>
    {{ 'sections.faq.inquiries.international_ship.answer' | t }}
    {{ 'sections.faq.inquiries.international_ship.answer2' | t }}
    {{ 'sections.faq.inquiries.international_ship.answer3' | t }}
    {{ 'sections.faq.inquiries.international_ship.answer4' | t }}
        </p>
  </div>
</div>
