<div class="row">
  <div class="small-12 columns">
    <h1>{{ 'sections.faq.order.title' | t }}</h1>

    <div class="grid-2">
      <a href="order-response-time-faq" class="item-link">
        <h3>{{ 'sections.faq.order.response_time.question' | t }}</h3>
        <p class="elipsis-s mb-none">{{ 'sections.faq.order.response_time.answer' | t }}</p>
      </a>

      <a href="order-shipment-faq" class="item-link">
        <h3>{{ 'sections.faq.order.order_shippment.question' | t }}</h3>
        <p class="elipsis-s mb-none">{{ 'sections.faq.order.order_shippment.answer' | t }}</p>
      </a>

      <a href="order-edit-information-faq" class="item-link">
        <h3>{{ 'sections.faq.order.edit_information.question' | t }}</h3>
        <p class="elipsis-s mb-none">{{ 'sections.faq.order.edit_information.answer' | t }}</p>
      </a>

      <a href="edit-order-faq" class="item-link">
        <h3>{{ 'sections.faq.order.edit_order.question' | t }}</h3>
        <p class="elipsis-s mb-none">{{ 'sections.faq.order.edit_order.answer' | t }}</p>
      </a>

      <a href="order-discounts-faq" class="item-link">
        <h3>{{ 'sections.faq.order.discounts.question' | t }}</h3>
        <p class="elipsis-s mb-none">{{ 'sections.faq.order.discounts.answer_html' | t: link_placeholder: 'support@morotai.com' }}</p>
      </a>

      <a href="order-gift-cards-faq" class="item-link">
        <h3>{{ 'sections.faq.order.gift_cards.question' | t }}</h3>
        <p class="elipsis-s mb-none">{{ 'sections.faq.order.gift_cards.answer' | t }}</p>
      </a>

      <a href="order-gift-cards-expiration-faq" class="item-link">
        <h3>{{ 'sections.faq.order.gift_cards_expiration.question' | t }}</h3>
        <p class="elipsis-s mb-none">{{ 'sections.faq.order.gift_cards_expiration.answer' | t }}</p>
      </a>
    </div>
  </div>
</div>
